---
import { Code } from 'astro/components'
import '../../components/button'
import '../../components/modal'
import Layout from '../../layouts/Layout.astro'

const usage = `\
<astra-button data-open-dialog>Open Dialog</astra-button>
<astra-dialog title="Contact Us">
  <p>We would love to hear your feedback, good or bad! If you're reporting an issue, please let us know the steps to reproduce, it will really help us resolve it quicker.</p>
  <div slot="actions">
    <astra-button @click="\${() => document.querySelector('astra-dialog').open = false}">Close</astra-button>
  </div>
</astra-dialog>
`
const exampleDiv = `
<div class="example-div">
  <p>This is an example div.</p>
</div>
`

const handleOpenDialog = () => {
  const dialog = document.getElementById('dialog')
  if (dialog) {
    dialog.dispatchEvent(new Event('open-dialog'))
  }
}
---

<Layout title="Astra-UI Dialog">
  <section class="p-4">
    <h1 class="text-2xl mb-4">Astra Dialog Component</h1>
    <astra-button data-open-dialog on:click={handleOpenDialog}>Open Dialog</astra-button>
    <astra-dialog id="dialog" title="Contact Us">
      <p>
        We would love to hear your feedback, good or bad! If you're reporting an issue, please let us know the steps to reproduce, it will
        really help us resolve it quicker.
      </p>
      <div slot="actions">
        <astra-button @click="${() => document.getElementById('dialog').open = false}">Close</astra-button>
      </div>
    </astra-dialog>
    <Code slot="usage" code={usage} lang="html" class="p-4 dark:bg-black bg-white" theme="ayu-dark" />
  </section>
</Layout>
