---
import { Table as FTable } from '../../index'
import Layout from '../../layouts/Layout.astro'
import movies from '../../lib/movies.json'
const rows = movies.map((m) => ({ id: crypto.randomUUID(), values: { ...m }, originalValues: { ...m } }))
const columns = {
  columns: Object.keys(movies[0]).map((name) => ({ name })),
}
---

<Layout title="Astra-UI - Table Component">
  <h1>light</h1>
  <div class="relative h-96">
    <!-- @ts-ignore -->
    <FTable
      client:only="lit"
      schema={columns}
      data={data}
      selectable-rows
      outer-border
      blank-fill
      cell-menus
      column-menus
      keyboard-shortcuts
    />
  </div>

  <h1>dark</h1>
  <div class="relative h-96">
    <!-- @ts-ignore -->
    <FTable
      client:only="lit"
      theme="dark"
      schema={columns}
      data={data}
      selectable-rows
      outer-border
      blank-fill
      cell-menus
      column-menus
      keyboard-shortcuts
    />
  </div>
</Layout>
