---
// server-side code goes here and can be accessed below
import AstraButton from '../components/button'
import AstraCard from '../components/card'
import AstraInput from '../components/input'
import AstraLabel from '../components/label'
import AstraSelect from '../components/select'
import AstraScrollArea from '../components/scroll-area'

import '@fontsource/inter' // Defaults to weight 400

const optionsArray = [
    { label: 'Apples', value: 'apples' },
    { label: 'Oranges', value: 'oranges' },
    { label: 'Avocados', value: 'avocados' },
]
---

<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <style>
            body {
                margin: 2rem;
            }
            h2:not(:first-child) {
                margin-top: 2rem;
                padding-top: 2rem;
                border-top: 1px solid lime;
            }
        </style>
        <script>
            document.getElementById('arbitrary-button-id')?.addEventListener('click', () => alert('👏🎉'))
        </script>
    </head>
    <body>
        <main>
            <h2><pre>&lt;astra-input /&gt;</pre></h2>
            <!-- @ts-ignore Astro doesn't seem to understand some of the params being passed -->
            <AstraInput client:load placeholder="This is a placeholder" />

            <h2><pre>&lt;astra-button /&gt;</pre></h2>
            <!-- @ts-ignore Astro doesn't seem to understand some of the params being passed -->
            <AstraButton client:load id="arbitrary-button-id">click click click click click</AstraButton>

            <h2><pre>&lt;astra-card /&gt;</pre></h2>
            <!-- @ts-ignore Astro doesn't seem to understand some of the params being passed -->
            <AstraCard client:load id="arbitrary-button-id">
                <div>Div tag</div>
                <p>Paragraph tag</p>
                <span>Span tag</span>
            </AstraCard>

            <h2><pre>&lt;astra-label /&gt;</pre></h2>
            <AstraLabel client:load>variant=undefined</AstraLabel>
            <!-- @ts-ignore Astro doesn't seem to understand some of the params being passed -->
            <AstraLabel client:load variant="label">variant=label</AstraLabel>
            <!-- @ts-ignore Astro doesn't seem to understand some of the params being passed -->
            <AstraLabel client:load variant="h1">variant=h1</AstraLabel>
            <!-- @ts-ignore Astro doesn't seem to understand some of the params being passed -->
            <AstraLabel client:load variant="h2">variant=h2</AstraLabel>
            <!-- @ts-ignore Astro doesn't seem to understand some of the params being passed -->
            <AstraLabel client:load variant="h3">variant=h3</AstraLabel>
            <!-- @ts-ignore Astro doesn't seem to understand some of the params being passed -->
            <AstraLabel client:load variant="h4">variant=h4</AstraLabel>

            <h2><pre>&lt;astra-select /&gt;</pre></h2>
            <!-- @ts-ignore Astro doesn't seem to understand some of the params being passed -->
            <AstraSelect client:load options={optionsArray} placeholder="Choose a fruit" />

            <h2>&lt;astra-scroll-area /&gt;</h2>
            <div class="bg-white dark:bg-black">
                <h3 class="text-xs black">axis unspecified</h3>
                <div class="relative h-52 px-8">
                    <AstraScrollArea client:load><div class="h-[1200px] w-[2400px] bg-blue-50"></div></AstraScrollArea>
                </div>

                <h3 class="text-xs black">axis=horizontal</h3>
                <div class="relative h-52 px-8">
                    <!-- @ts-ignore Astro doesn't seem to understand some of the params being passed -->
                    <AstraScrollArea client:load axis="horizontal"><div class="h-[1200px] w-[2400px] bg-yellow-50"></div></AstraScrollArea>
                </div>

                <h3 class="text-xs black">axis=vertical</h3>
                <div class="relative h-52 px-8">
                    <!-- @ts-ignore Astro doesn't seem to understand some of the params being passed -->
                    <AstraScrollArea client:load axis="vertical"><div class="h-[1200px] w-[2400px] bg-green-50"></div></AstraScrollArea>
                </div>

                <h3 class="text-xs black">axis=both</h3>
                <div class="relative h-52 px-8">
                    <!-- @ts-ignore Astro doesn't seem to understand some of the params being passed -->
                    <AstraScrollArea client:load axis="both"><div class="h-[1200px] w-[2400px] bg-red-50"></div></AstraScrollArea>
                </div>
            </div>
        </main>
    </body>
</html>
