---
// server-side code goes here and can be accessed below
import { OuterbaseTable } from '../index'

// include Inter font on the page
import '@fontsource/inter' // Defaults to weight 400
---

<style>
  *,
  html,
  body {
    --brand: rgb(78, 240, 204);
    --dirty-yellow: rgb(240, 204, 78);
  }

  html,
  body {
    height: 100vh;
    background-color: var(--brand);
    overflow: hidden;
  }
  .turso-theme * {
    --astra-secondary-content-color: var(--brand);
    --astra-sidebar-li-active-content-color: var(--brand);
    --astra-table-row-new-background-color: var(--brand);
    --astra-cell-mutating-background-color: var(--brand);
    --astra-cell-dirty-background-color: var(--dirty-yellow);
    --astra-table-border-color: #293945;
    --astra-table-content-color: white;
    --astra-header-content-color: rgb(250, 250, 250);
    --astra-sidebar-li-content-color: rgb(250, 250, 250);
    --astra-sidebar-header-color: rgb(100, 116, 139);
    --astra-sidebar-subheader-content-color: rgb(100, 116, 139);
    --astra-table-background-color: #141b21;
    --astra-table-row-even-background-color: #141b21;
    --astra-table-row-odd-background-color: #141b21;
    --astra-table-row-selected-background-color: #252e35;
    --astra-table-row-hover-background-color: #252e35;
    --astra-hover-sidebar-li-background-color: #252e35;
    --astra-table-column-header-background-color: #141b21;
    --astra-table-column-header-content-color: #c5cace;
  }
</style>
<main class="turso-theme flex flex-col gap-8 absolute top-0 right-0 left-0 bottom-0">
  <!-- @ts-ignore -->
  <OuterbaseTable
    client:only="lit"
    side-bar
    border-b
    limit={30}
    selectable-rows
    schema-name="public"
    table-name="person"
    starlink="https://app.outerbase.com/starlink?auth_token=44a2tuiqqv95x92zt4nyr5ssspbrp7e13rl9j2sjv44muxes7knx16mcz6dtgsr2&base_id=4988eb5a-8df7-4067-adbb-99b5b6b217af&workspace_id=a1bbdab2-007f-42ac-bcf4-bbb6e01ad744"
  />
</main>
