---
import { Code } from 'astro:components'
import Layout from '../../layouts/Layout.astro'

const htmlSrcExample = `<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Classified</title>
    <script src="https://cdn.outerbase.com/astra/latest/astra.bundle.js"></script>
  </head>
  <body>
    <astra-text variant="h1">Are you ready?</astra-text>
    <astra-button>Yes!</astra-button>
  </body>
</html>`

const htmlScriptAstraBundle = `<script src="https://cdn.outerbase.com/astra/latest/astra.bundle.js"></script>`
const htmlAstraFromCDN = `<script src="/your/path/to/astra.bundle.js"></script>`
---

<Layout title="Add Astra-UI to your project">
  <div class="flex flex-col gap-10">
    <div class="flex flex-col gap-5">
      <div class="flex flex-col gap-2">
        <h1 class="text-2xl">Copy + Paste = 🎉</h1>
        <Code code={htmlSrcExample} lang="html" class="p-4 dark:bg-black bg-white" theme="ayu-dark" />
      </div>

      <div class="flex flex-col gap-2">
        <h2 class="text-xl">example.html</h2>
        <span
          >The root of the Astra-UI GitHub repo contains `example.html`. You can open this file in your browser and interact without
          friction.</span
        >
      </div>

      <div class="flex flex-col gap-2">
        <h2 class="text-xl">CDN</h2>
        <span
          >We've made Astra available from our CDN. You may simply copy/paste the following snippet onto your site to include all of our
          components.</span
        >
        <Code code={htmlScriptAstraBundle} lang="html" class="p-4 dark:bg-black bg-white" theme="ayu-dark" />
      </div>

      <div class="flex flex-col gap-2">
        <h2 class="text-xl">Self-hosting</h2>
        <span
          >Place astra.bundle.js (found in dist/web-components/astra.bundle.js) somewhere accessible to your website. Then update your HTML
          to include a script tag that references that location:</span
        >
        <Code code={htmlAstraFromCDN} lang="html" class="p-4 dark:bg-black bg-white" theme="ayu-dark" />
      </div>
    </div>

    <div class="flex flex-col gap-5">
      <div class="flex flex-col gap-2">
        <h1 class="text-2xl">NPM Modules</h1>

        <h2 class="text-xl">How to include the prebuilt, bundled version via NP</h2>
        In your terminal, enter:
        <Code code={`npm add @outerbase/astra-ui`} lang="ts" class="p-4 dark:bg-black bg-white" theme="ayu-dark" />
        In your javascript, client-side files:
        <Code code={`import '@outerbase/astra-ui/bundle'`} lang="ts" class="p-4 dark:bg-black bg-white" theme="ayu-dark" />
        This will include/register all of the Astra copmonents on the page
      </div>
    </div>

    <div class="flex flex-col gap-5">
      <div class="flex flex-col gap-2">
        <h2 class="text-xl">Selectively import the compnent(s) you use</h2>
        In your terminal, enter:
        <Code code={`npm add @outerbase/astra-ui`} lang="ts" class="p-4 dark:bg-black bg-white" theme="ayu-dark" />

        In your javascript files, include:
        <Code
          code={`import  { Button, Card, Input, Label, ScrollArea, Select, Table } from '@outerbase/astra-ui/components''`}
          lang="ts"
          class="p-4 dark:bg-black bg-white"
          theme="ayu-dark"
        />
        <span>Reference <span class="p-1 underline">src/pages/index.astro</span> for an example of using components in this way</span>
      </div>
    </div>
  </div>
</Layout>
