---
import { Code } from 'astro/components'
import { NoFlickerElement } from '../../components/table/menu/trash.ts'
import ComponentLayout from '../../layouts/Component.astro'
import Layout from '../../layouts/Layout.astro'

const usage = `\
<astra-table schema='{"columns": []}' data='[{}]' />
`

// test data
import { NestedMenu, type MenuItem } from '../../components/table/menu/experiment'
import spaceballs from '../../lib/sample-data.json'
const rows = spaceballs
  .map((d) => ({ ...d, traits: JSON.stringify(d.traits) }))
  .map((values) => ({ id: crypto.randomUUID(), values, originalValues: values }))
const columns = Object.keys(rows[0].values).map((name) => ({ name }))

const menuItems: MenuItem[] = [
  { label: 'Home', action: () => console.log('Home clicked') },
  {
    label: 'Products',
    subItems: [
      { label: 'Electronics', action: () => console.log('Electronics clicked') },
      {
        label: 'Clothing',
        subItems: [
          { label: 'Men', action: () => console.log("Men's clothing clicked") },
          { label: 'Women', action: () => console.log("Women's clothing clicked") },
        ],
      },
      { label: 'Books', action: () => console.log('Books clicked') },
    ],
  },
  { label: 'About', action: () => console.log('About clicked') },
  {
    label: 'Services',
    subItems: [
      { label: 'Consulting', action: () => console.log('Consulting clicked') },
      { label: 'Training', action: () => console.log('Training clicked') },
    ],
  },
  { label: 'Contact', action: () => console.log('Contact clicked') },
]
---

<style>
  /* wormhole'd things need to be set on the `body` :shrug: */
  #blurred-table {
    --astra-table-backdrop-blur: 4px;
    --astra-table-menu-backdrop-blur: 4px;
    --astra-toggle-color-hover: rgba(0, 0, 0, 0.2);
    --astra-toggle-color-active: rgba(0, 0, 0, 0.7);

    --astra-menu-background-color: rgba(0, 0, 0, 0.6);
    --astra-menu-content-color: white;
    --astra-menu-content-color-active: white;
    --astra-toggle-color-hover: rgba(0, 0, 0, 0.2);
    --astra-toggle-color-active: black;

    --astra-table-content-color: rgb(255, 255, 255);
    --astra-table-border-color: rgba(255, 255, 255, 0.1);
    --astra-table-column-header-background-color: rgba(0, 0, 0, 0.2);
    --astra-table-column-header-background-color-dark: rgba(0, 0, 0, 0.5);
    --astra-table-column-header-content-color: rgb(255, 255, 255);
    --astra-table-row-even-background-color: rgba(0, 0, 0, 0.2);
    --astra-table-row-even-background-color-dark: rgba(0, 0, 0, 0.3);
    --astra-table-row-even-background-color: rgba(0, 0, 0, 0.2);
    --astra-table-row-even-background-color-dark: rgba(0, 0, 0, 0.3);
  }
</style>
<Layout title="Astra-UI">
  <ComponentLayout title="Table" summary="This, _that_, and THE other.">
    <!-- @ts-ignore -->

    <div class="dark:bg-black w-full" slot="preview">
      <div class="rounded-md flex gap-8 bg-blue-400" id="foo">
        <!-- <AstraTable id="blurred-table" client:load schema={{ columns }} data={rows} static-widths /> -->
        <!-- @ts-ignore Astro doesn't seem to understand some of the params being passed -->

        <NestedMenu items={menuItems} client:only="lit" />
        <NoFlickerElement client:load />
      </div>
    </div>

    <!-- // TODO @Brandon pick a `theme` on the next line -->
    <Code slot="usage" code={usage} lang="html" class="p-4 dark:bg-black bg-white" theme="ayu-dark" />
  </ComponentLayout>
</Layout>
